<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="homebootpages/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="homebootpages/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="homebootpages/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="homebootpages/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="homebootpages/assets/css/Add-Another-Button.css">
    <link rel="stylesheet" href="homebootpages/assets/css/Feedback-Form-1.css">
    <link rel="stylesheet" href="homebootpages/assets/css/Feedback-Form.css">
    <link rel="stylesheet" href="homebootpages/assets/css/Forum---Thread-listing-1.css">
    <link rel="stylesheet" href="homebootpages/assets/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="homebootpages/assets/css/styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <div class="input-group"><span class="input-group-addon"> <i class="fa fa-search"></i></span><input class="form-control" type="search" name="search"></div>
                    </div>
                </form>
                <div class="text-right d-flex"><a class="btn btn-outline-primary text-truncate float-none float-sm-none add-another-btn" role="button" data-bss-hover-animate="pulse" href="homebootpages/untitled.html">Add Another Task<i class="fas fa-plus-circle edit-icon"></i></a>
                    <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Modal Title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center text-muted">Description </p>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" data-dismiss="modal" type="button">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                            </div>
                        </div>
                    </div><button class="btn btn-outline-primary active text-truncate float-none float-sm-none ml-auto add-another-btn" data-bss-hover-animate="pulse" type="button" style="background: rgb(14,183,81);">LOGOUT<i class="fas fa-chevron-right edit-icon"></i></button>
                </div>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Tasks&nbsp;</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <div class="thread-list-head">
                                <nav class="thread-pages">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <ul class="thread-list">
                                <li class="thread"><span class="time">Apr 21</span><span class="title">Maecenas finibus est nec pretium molestie. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><button class="btn btn-outline-primary text-truncate text-right float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" style="background: var(--danger);">DELETE<i class="fas fa-trash edit-icon"></i></button></a><a class="flag" href="javascript:void(0)"></a></span></li>
                                <li class="thread"><span class="time">Apr 21</span><span class="title">Maecenas finibus est nec pretium molestie. </span><span class="icon"> <a class="subscribe" href="javascript:void(0)"><button class="btn btn-outline-primary text-truncate text-right float-none float-sm-none add-another-btn" data-bss-hover-animate="pulse" type="button" style="background: var(--danger);">DELETE<i class="fas fa-trash edit-icon"></i></button></a><a class="flag" href="javascript:void(0)"></a></span></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2"></div>
                        <div class="tab-pane" role="tabpanel" id="tab-3"></div>
                        <div class="tab-pane" role="tabpanel" id="tab-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="homebootpages/assets/js/jquery.min.js"></script>
    <script src="homebootpages/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="homebootpages/assets/js/bs-init.js"></script>
</body>

</html>