<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="loginbootpages/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="loginbootpages/assets/css/login-form-1.css">
    <link rel="stylesheet" href="loginbootpages/assets/css/login-form.css">
    <link rel="stylesheet" href="loginbootpages/assets/css/styles.css">
</head>

<body style="background: url(&quot;https://i.pinimg.com/originals/0e/86/d4/0e86d44157f2bfee461ce3d23f46d0fd.jpg&quot;);">
    <div class="container full-height">
        <div class="row flex center v-center full-height">
            <div class="col-8 col-sm-4">
                <div class="form-box" style="background: #ffffff;opacity: 0.67;">
                    <form action="{{ url_for('logintest')}}" method="post">
                        <fieldset>
                            <legend>Sign in</legend><img id="avatar" class="avatar round" src="loginbootpages/assets/img/avatar.png"><input class="form-control" type="email" id="username" name="username" placeholder="username"><input class="form-control" type="password" id="password" name="password" placeholder="password"><button type="submit" class="btn btn-primary btn-block" value="submit" type="button">LOGIN </button><a href="{{url_for('signuptest')}}">Don't have an account?</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="loginbootpages/assets/js/jquery.min.js"></script>
    <script src="loginbootpages/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>